.fondo{
    /* background-color: #F4E4E4; */
    background-color: #f4e4e4;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-items: center;
    text-align: center;
    align-items: center;
    font-family: 'Poppins';font-size: 22px;
    /* margin: 5% auto 5% auto; */
}
.contenedor-principal{
    background-color: aqua;
}
.contenedor{
    display: flex;
    align-content: center;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.btn{
    margin-top: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: blue;
    width: 80%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 2rem;
}

.btnFirst{
    background-color: #d91e76;
}

.btn2{
    background-color: #F288b9;
}

.btn3{
    background-color: #acc0e0;
}

.btn4{
    background-color: #d3dbf2;
}

.btn5{
    background-color: #d3d88B;
}

@media (max-width: 375px) {
    .btn{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 95%;
    }
    .btnFirst{
        margin-top: 0;
    }
    .fondo{
        height: 795px;
        /* align-items: center;
        justify-content: center; */
    }
}

@media (min-width: 414px) {
    .btn{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 95%;
    }
    .btnFirst{
        margin-top: 0;
    }
    .fondo{
        height: 700px;
        /* align-items: center;
        justify-content: center; */
    }
}

h1{
    margin-top: 4rem;
    color: #d91e76;
}
a:hover {
    transform: scale(1.05);
}
